<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NLP Sentiment Analysis</title>
        <link rel="stylesheet" href="/styles/resets.css">
        <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/form.css">
        <link rel="stylesheet" href="/styles/footer.css">
        <script src="https://kit.fontawesome.com/f49ef79a52.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300;500;700&display=swap" rel="stylesheet">
    </head>

    <body>

        <header>
            <div class="title">
                 <h1><i class="fas fa-quote-left"></i><span>NLP</span> Sentiment app</h1>
            </div>
            <div class="social">
                <a href="https://github.com/filippomassarelli/udacity-fend-project-4"><i class="fab fa-github"></i></a>
            </div>
        </header>

        <main>
            <section>


                <form class="" onsubmit="return ClientLibrary.handleSubmit(event)">

                    <p>Select what type of input you are going to analyse:</p>

                    <div class="checkbox">
                      <input type="radio" id="text" name="format" value="txt"
                             checked />
                      <label for="url">Text</label>
                    </div>
    
                    <div class="checkbox">
                      <input type="radio" id="url" name="format" value="url" />
                      <label for="url">URL</label>
                    </div>

                    <textarea required rows="3" id="input-text" placeholder="Insert text to analyse here.."></textarea>
                    <input class="cta" type="submit" value="Analyse Me" />
                </form>
            <section>

            <section>
                <div id="results"></div>
            </section>

        </main>

        <footer>
            <p>Filippo Massarelli &copy Udacity 2020</p>
         </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
           </script>
    </body>
</html>
