@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

header {
    align-self: center;
    padding: 10px;
    font-family: 'Dancing Script', cursive;
    font-size: 1.6em;

    a {
        color: black;
    }
}
