<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Natural Language Processing</title>
    </head>

    <body>

        <header>
            <h1><a href="javascript:history.go(0)">Natural Language Processing</a></h1>
        </header>

        <main>
            <section>
                <form class="flex-box" onsubmit="return Client.handleSubmit(event)">
                    <h2>Sentiment Analysis</h2>
                    <div>Select what type of text you are going to insert</div>
                    <div>
                        <label class="container">Text
                            <input type="radio" name="format" value="text" checked="checked">
                            <span class="checkmark"></span>
                        </label>
                        <label class="container">URL
                            <input type="radio" value="url" name="format">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <textarea required rows="4" id="text" placeholder="Enter a text or URL"></textarea>
                    <input class="submit" type="submit" value="ANALYZE"">
                </form>
            </section>

            <section id='result' class="hidden">
                <div class="result-title">Submitted Text</div>
                <div id='input_text'></div>
                <div>
                    <div class="result-title">Results</div>
                    <table>
                        <tr>
                            <td>Polarity</td>
                            <td id="polar"></td>
                        </tr>
                        <tr>
                            <td>Polarity confidence</td>
                            <td id="polar_conf"></td>
                        </tr>
                        <tr>
                            <td>Subjectivity</td>
                            <td id="subject"></td>
                        </tr>
                        <tr>
                            <td>Subjectivity confidence</td>
                            <td id="subject_conf"></td>
                        </tr>
                    </table>
                </div>
            </section>
        </main>

        <footer>
            <p>NLP &#128515;</p>
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
